<!DOCTYPE html>
<html lang="pt-BR">
<meta charset="utf-8" />
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="./estilo.css/destinos.css" />
</head>

<body>
    <header>
        <div>
            <img src="imagensagencia/logoagencia.png" />
        </div>
        <nav>
            <a href="./index.html"> Home</a>
            <a href="./destinos.html">Destinos</a>
            <a href="./promoçoes.html">Promoções</a>
            <a href="./contato.html">Contato</a>
            <a href="./visualizarcadastro.html">visualizarcadastro</a>
            <a href="./visualizarpromo.html">visualizarpromo</a>
        </nav>
    </header>

    <section class="container">
        <div class="row">
            <div class="card ml-2 mr-2">
                <img class="card-img-top"
                     src="./imagensagencia/argentina.jpg"
                     alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Argentina</h5>
                    <p class="card-text">
                        valor apenas para viagem de ida ou volta de R$: 10.000,00
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <button type="button" class="btn btn-outline-secondary">
                        Comprar
                    </button>
                </div>
            </div>
            <div class="card ml-2 mr-2">
                <img class="card-img-top"
                     src="./imagensagencia/australia.jpg"
                     alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Australia</h5>
                    <p class="card-text">
                        valor apenas para viagem de ida ou volta de R$: 30.000,00.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <button type="button" class="btn btn-outline-secondary">
                        Comprar
                    </button>
                </div>
            </div>
            <div class="card ml-2 mr-2">
                <img class="card-img-top"
                     src="./imagensagencia/dubai.jpg"
                     alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Dubai</h5>
                    <p class="card-text">
                        valor apenas para viagem de ida ou volta de R$: 50.000,00
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <button type="button" class="btn btn-outline-secondary">
                        Comprar
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <footer>
            <img src="./imagensagencia/formas de pagamento.jpg" />
        </footer>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>

