<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="estilo.css/estilo.css" />
</head>
<body>
    <header>
        <div>
            <img src="imagensagencia/logoagencia.png" />
        </div>
        <nav>
            <a href="./index.html"> Home</a>
            <a href="./destinos.html">Destinos</a>
            <a href="./promoçoes.html">Promoções</a>
            <a href="./contato.html">Contato</a>
            <a href="./visualizarcadastro.html">visualizarcadastro</a>
            <a href="./visualizarpromo.html">visualizarpromo</a>
        </nav>
    </header>

    <div class="container">

        <h2><a>Promoções Atualizadas</a></h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Destinos</th>
                    <th scope="col">Pacotes</th>
                    <th scope="col">Valores</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Dubai</td>
                    <td>Ida e volta</td>
                    <td>R$ 40.000,00</td>
                    <td>
                        <button class="bi bi-file-person">
                            </class=>>

                        </button>

                    </td>
                    <td>
                        <button type="button" class="btn btn-dark">Del</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Austrália</td>
                    <td>Ida e Volta</td>
                    <td>R$ 20.000,00</td>
                    <td>
                        <button class="bi bi-file-person"></class=>></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-dark">Del</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Argentina</td>
                    <td>Ida e volta</td>
                    <td>R$ 10.000,00</td>
                    <td>
                        <button class="bi bi-file-person">
                            </class=>>

                        </button>

                    </td>
                    <td>
                        <button type="button" class="btn btn-dark">Del</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <section>
        <footer>
            <img src="./imagensagencia/formas de pagamento.jpg" />
        </footer>
    </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>
